<div id="cbp-fbscroller" class="cbp-fbscroller">
	<nav>
		<a href="#fbsection1" class="cbp-fbcurrent">Section 1</a>
		<a href="#fbsection2">Section 2</a>
		<a href="#fbsection3">Section 3</a>
		<a href="#fbsection4">Section 4</a>
		<a href="#fbsection5">Section 5</a>
	</nav>
	<section id="fbsection1">
		<div class="description">
			<p>This first example shows a simple use case without showing a description on the back side of the Polaroid. Clicking another
				navigation dot will reshuffle the Polaroids and bring the respective current item to the center.</p>

			<p><strong>Click on the gallery to start it.</strong></p>
		</div>
		<!--<header class="codrops-header">

			<h1>Scattered Polaroids Gallery <span>A flat-style take on a Polaroid gallery</span></h1>
		</header>-->

	</section>
	<section id="fbsection2"></section>
	<section id="fbsection3"></section>
	<section id="fbsection4"></section>
	<section id="fbsection5"></section>
</div>